<!doctype html>
<html ng-app="aspectorApp">
<head>
    <title>Aspector</title>
        
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- note we use our own bootstrap.css to make sure the fonts get loaded -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    
    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="/static/css/aspector.css">

	<!-- 
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/ferris/js/bootstrap.js"></script>

    {% block layout_head %}
        {{this.events.layout_head()}}
    {% endblock %}
    
    <!--  normal document ready stuff, if there's a text input, start with focus but only if one exists-->
    <script type="text/javascript">
    	$(document).ready( function () {
    		 
    		if ( $('input[type="text"]').length ) {
    			// not used - using autofocus instead $('input[type="text"]')[0].focus(); // add focus to javascript fields
    			// add a click function to select all the text on clicking into it
    			$('input[type="text"]').click(function() {
    				this.select();
    			});
    			
    		};
    		
    	});
    	
    </script>
    
    <!-- custom css for padding the menu -->
	<style>
		
		body {
	  		min-height: 2000px;
	  		padding-top: 70px;
	  		background-color: #e7e7e7;
		}
	</style>
	<!-- in case our template needs to add stuff in the header --> 

</head>
<body>

        
        
{% block layout_body %}

		
    {% block layout_before_content %}
    {% endblock %}
    
    <!-- Navigation -->
    	    <div class="navbar navbar-default navbar-fixed-top" role="navigation">

		    		<div class="container">
		            	<div class="navbar-header">
			          		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNav">
			            	<span class="sr-only">Toggle navigation</span>
				            	<span class="icon-bar"></span>
				            	<span class="icon-bar"></span>
				            	<span class="icon-bar"></span>
			          		</button>
			          		<a class="navbar-brand" href="/">Aspector</a>
			        	</div>
					    <div class="navbar-collapse collapse" id="mainNav">  
					        <ul class="nav navbar-nav">
					   			<li><a href="{{uri('tags:browse')}}">Browse By Tag</a></li>
					            {% if this.user %}
					            	<li><a href="{{uri('aspects:add')}}">Submit an Aspect</a></li>
					            {% endif %}
					            {% if this.user %}
					            	<li><a href="{{uri('tags:add')}}">Submit a Tag</a></li>
					            {% endif %}
					            {% if ferris.users.is_current_user_admin(): %}
					            	<li><a href="{{uri('aspects:list')}}">View All Aspects</a></li>
					            	<li><a href="{{uri('tags:list')}}">View All Tags</a></li>
					            {% endif %}
					            <!-- dropdown start -->

					            <!-- end dropdown -->
					        </ul>

							   	<ul class="nav navbar-nav navbar-right">
							   	<!-- check to see if the person is logged in, before displaying -->
							   		{% if this.user %}
								   		<li class="dropdown">
								   			<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{this.user.nickname()}} <b class="glyphicon glyphicon-wrench"></b></a>
								   			<ul class="dropdown-menu">
								   				<li><a href="{{uri('profiles:view')}}">User Profile</a>

								   				<li><a href="{{ferris.users.create_login_url() }}">Logout</a></li>
								   			</ul>
								   		</li>
								   	{% else %}
								   		<li><a href="{{ ferris.users.create_login_url(dest_url='/profiles/add') }}">Login</a></li>
								   	{% endif %}
					          	</ul>
					            

<!--Commenting out the search box -->
<!--
					        <form class="navbar-form" role="search">
						        <div class="input-group col-md-3 pull-right">
						          <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
						          <div class="input-group-btn">
						            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
						          </div>
						        </div>
						    </form>
-->

					    </div> <!-- /.nav-collapse -->
					</div> <!-- container -->
			</div> <!-- /.navbar -->



    <!-- end navigation -->
<div class="container">
    	<div class="panel panel-default">
    		<div class="panel-body">
			    {% block layout_content %}
			    {% endblock %}
    		</div>
	    	<div class="panel-footer">
				<small>Built on <a href="http://ferris-framework.appspot.com/">Ferris Framework {{ferris.version}}</a></small>
			</div>
    	</div>
</div>
    
    
    {% block layout_after_content %}{% endblock %}
{% endblock %}

        
        
        
   
   <!-- This highlights the active menu tab -->  
    <script type="text/javascript">
    	 	
    	 $('ul.nav > li > a[href="' + document.location.pathname + document.location.search + '"]').parent().addClass('active');
		/* $('ul.nav > li > a[href="' + document.location.pathname + '"]').parent().addClass('active'); */

    </script>
    
</body>
</html>