<!doctype html>
<html>
<head>
    <title>Application Error</title>

    <link rel="stylesheet" type="text/css" href="/ferris/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/ferris/css/bootstrap-responsive.min.css">
    {% include "elements/ferris/landing_style.html" %}
</head>
<body>



<div class="container">
    <div class="center landing">
        {% block layout_content %}           
        
          <h1>{% block title %}Oops{% endblock %}</h1>
          <h3 class='blue'>{% block subtitle %}{% endblock %}</h3>
          <p>
            {% block body %}{% endblock %}<FORM><INPUT Type="button" VALUE="Go Back" onClick="history.go(-1);return true;"></FORM>
          </p>
          {% if exception %}
          <p>
            <strong>Technical Info</strong>
            <pre class='prettyprint'>{{exception}}</pre>
          </p>
          {% endif %}
        {% endblock %}
        <small class='beige'>Ferris {{ferris.version}}</small>
    </div>
</div>
</body>
</html>