{% extends "elements/form.html" %}

{% block layout_header %}<h4>Submit an Aspect</h4>{% endblock %}

{% block layout_instructions %}
<ul class="list-group">
	{% if previous %}<li class="list-group-item"><span class="text-danger">Created {{previous.name}}</span></li>{%endif%}
	<li class="list-group-item">Aspects cannot be longer than 255 characters.</li>
	<li class="list-group-item">Aspects may not be duplicated.</li>
	
</ul>

{% endblock %}

{% block submit_text %}Create{% endblock %}
