{% extends "layouts/default.html" %}
{% import "scaffolding/macros.html" as scaffold with context %}

{% block layout_content %}

	<h1>Indexing...</h1>
	<div class="row">
		{% for key in indexed %}
			<div class="col-xs-12 col-lg-6">
				{{key}}
			</div>

		{% endfor %}
	</div>
{% endblock %}