{% extends "layouts/default.html" %}
{% import "scaffolding/macros.html" as scaffold with context %}


{% block layout_content %}




	
    {% for aspect in aspects %}

            <h4 class="media-heading">{{aspect.name}}</h4>
            <p>
            {% for tag in aspect.get_tags() %}
            	{% if tag %}
            	{{tag.name}} |
            	{% endif %}
            {% endfor %}
            </p>
    {% endfor %}



{% endblock %}