{% extends "layouts/default.html" %}
{% import "scaffolding/macros.html" as scaffold with context %}

{% block layout_head %}
<script type="text/javascript" src="/static/js/angular.min.js"></script>
<!--  angular bootstrap UI for typeahead -->
<script type="text/javascript" src="/static/js/ui-bootstrap-tpls-0.10.0.min.js"></script>
<script type="text/javascript" src="/static/js/aspector.js"></script>
{% endblock %}

{% block layout_content %}


{% include "elements/search_page.html" %}

<div ng-controller="LikeCtrl">
		    {% for aspect in aspects %}
		    <!--  stuff to make sure we get rows every 3 -->
			    {% if loop.index is sameas 1 %}
			    <div class="row">
			    {% elif loop.index0 is divisibleby 3 %}
			    	</div><div class="row">
			    {% endif %}
		    	<div class="col-md-4 col-xs-12">
					<div class="panel panel-default aspect-panel">
				            <div class="panel-heading aspect-panel-heading">
				            	
				            			<div class="aspect-pane">
				            				{% if user %}
				            					<a href="/aspects/:{{aspect.key.urlsafe() }}/edit" target="_blank">
				            						{{aspect.name}} <span class="glyphicon glyphicon-edit pull-right"></span>
				            					</a>
				            				{% else %}
				            					<bdi>
												{{aspect.name}}
				            					</bdi>										
											{% endif %}				            			
				            				
				            							            				
				            			 
				       					</div>
				       					<!--  this link really depends on being logged in, so only display if we are logged in-->
				       					{% if this.user %}
				       					<div class="button-pane" role="subnav">
				       					
				       					
											<a href="" title="Like {{aspect.name}}" ng-click="like('{{aspect.key.urlsafe() }}','{{this.user.nickname()}}')" class="likeLink" ng-class="{'ngLiked': is_liked('{{aspect.key.urlsafe()}}', '{{ aspect.is_liked(this.user.user_id()) }}') }"><b class="glyphicon glyphicon-check"></b></a>
										
				            				<a href="/reports/:{{aspect.key.urlsafe() }}/report" class="reportLink"><b class="glyphicon glyphicon-exclamation-sign"  title="Report {{aspect.name}}"></b></a>
				            			
				            			</div>
				            			{% endif %}
				            		

				            	
	            			</div>
	    					<div class="panel-body">
	    						<div class="row">
						            {% for tag in aspect.get_tags() %}
					            		{% if tag %}
					            			{% include "elements/tag.html" with context %}
					            		{% endif %}
						            {% endfor %}
								</div>
				            </div>
				     </div>
		        </div>
		    {% endfor %}
		    
		    

</div>


{% endblock %}