{% extends "layouts/default.html" %}
{% import "scaffolding/macros.html" as scaffold with context %}

{% block layout_content %}




<div class="row">	
	<h4 class="text-center">#{{tag.name}} Aspects</h4>
</div>

<div class="row">
		    {% for aspect in aspects %}
		    	<div class="col-lg-4 col-md-4 col-xs-12">
					{{aspect.name}}
		        </div>
		    {% endfor %}
</div>


{% endblock %}