{% extends "layouts/default.html" %}
<!--  my addition to make it use the old print value -->
{% import 'macros/macros.html' as macros with context %}
{% block layout_content %}
	
	
{% set item = context[scaffolding.singular] %}

<table class='table table-striped'>
    <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Id</td>
            <td><span class='badge' title='{{item.key.urlsafe()}}'>{{item.key.id()}}</span></td>
        </tr>
        {% for property in scaffolding.display_properties %}
        <tr>
            <td>
                {{inflector.humanize(property)}}
            </td>
            <td>
            	{{macros.print_value(item[property])}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}