{% extends "layouts/default.html" %}
{% import "scaffolding/macros.html" as scaffold with context %}

{% block layout_head %}
<script type="text/javascript" src="/static/js/angular.min.js"></script>
<script type="text/javascript" src="/static/js/aspector.js"></script>
<!--  angular bootstrap UI for typeahead -->
<script type="text/javascript" src="/static/js/ui-bootstrap-tpls-0.10.0.min.js"></script>
{% endblock %}

{% block layout_content %}
	
	
{% set item = context[scaffolding.singular] %}

<h4>{{ item.name }}'s user profile {% if item.admin %}<b class="pull-right glyphicon glyphicon-flash">Administrator</b>{% endif %}</h4>
<hr />
<h5>Aspects you like</h5>
<div ng-controller="LikeCtrl">
{% for aspect in likes %}
<!--  stuff to make sure we get rows every 3 -->
	{% if loop.index is sameas 1 %}
<div class="row">
	{% elif loop.index0 is divisibleby 3 %}
		</div><div class="row">
	{% endif %}
<div class="col-md-4 col-xs-12">
	<div class="panel panel-default aspect-panel">
		<div class="panel-heading aspect-panel-heading">
				<div class="aspect-pane">
				
					<a href="/aspects/:{{aspect.key.urlsafe() }}/edit" >{{ aspect.name }}<!--  this link will expand the tags -->
					<!--  A lot going on in ng-class here - change the icon from folder to edit if it's been clicked (aspect_active) and hide it if the user isn't logged in -->
						<b class="glyphicon glyphicon-edit pull-right"></b>
					</a>
				</div>
				<!-- like/report buttons -->
				
				<div class="button-pane" role="subnav">
				      					
				       					
					<a href="" title="Like {{aspect.name}}" ng-click="like('{{aspect.key.urlsafe() }}','{{this.user.nickname()}}')" class="likeLink" ng-class="{'ngLiked': is_liked('{{aspect.key.urlsafe()}}', '{{ aspect.is_liked(this.user.user_id()) }}') }"><b class="glyphicon glyphicon-check"></b></a>
				
     				<a href="/reports/:{{aspect.key.urlsafe() }}/report" class="reportLink"><b class="glyphicon glyphicon-exclamation-sign"  title="Report {{aspect.name}}"></b></a>
            			
				</div>
				
		</div>
	</div>
</div>
{% endfor %}
</div><!--  close the row  -->
</div><!--  end ngcontroller  -->

{% endblock %}