/* 
	Custom styles for Aspector
*/


/* default styling example
----------------------------------------------------------------- */

.listNav { margin:0 0 10px; }

.ln-letters { overflow:hidden; }
.ln-letters a { font-size:0.9em; display:block; float:left; padding:2px 6px; border:1px solid silver; border-right:none; text-decoration:none; }
.ln-letters a.ln-last { border-right:1px solid silver; }
.ln-letters a:hover,
.ln-letters a.ln-selected { background-color:#e7e7e7; }
.ln-letters a.ln-disabled { color:#ccc; }
.ln-letter-count { text-align:center; font-size:0.8em; line-height:1; margin-bottom:3px; color:#555555; }
.ln-no-match {padding-left: 20px;}

/* Aspector styling
----------------------------------------------------------------- */
/* Bootstrap overrides */

.navbar-collapse {
	/* fix the bug where dropdowns don't fully expand on mobile devices */
	max-height: 100%;
}

/* End bootstrap overrides */


	/* browse page stuff */
#listWrapper { width: 650px; }
.aspectorList li {float:left; margin-left: 1px !important}
.aspectorList a { text-align:left; border:1px solid silver; text-decoration:none;background-color: #e7e7e7;}
.aspectorList a:hover { background-color:#eee }
.aspectorList {list-style-type: none; padding-left: 0px;}

.listNoPad {padding: 0px;}

/* hide the reset button */
#resetbutton { 
	width: 100%;

}

/* a little bit of custom stuff to make the panel-header links behave more like pills in spots where aspects are displayed */
/* the heading where the aspect title and links are displayed */

.aspect-panel {
	display: table;
	width: 100%;
}


.aspect-panel-heading {
	padding: 0px;
	display: table-row;
	width: auto;
	position: relative;
	
}
.aspect-panel-heading > div {
	border-bottom: 1px solid silver;
}

.aspect-pane > a, bdi {
	display: block;
	padding: 10px;
	
}
.aspect-pane > a:hover {
	 background-color:#eee;
}
.aspect-pane:hover > a {
	text-decoration: none;
	background-color:#eee;	
}
.aspect-pane {
	display: table-cell;
	width: 85%;
	min-width: 85%;
	border-right: 1px solid silver;
	padding: 0px;
	
}

.link-disabled:hover > a, .link-disabled:active > a {
   background-color: #f5f5f5;
   cursor: default;
}

.button-pane {
	width: auto;
	padding: 5px;
	text-align: center;
	display: table-cell;
}

	/* end aspect display */ 

/* General link styles */
.reportLink {
	color: red;
	display: inline-block;
}
.reportLink :hover {
	color: darkred;
	text-decoration: none;
}

.likeLink {
	color: #00FF00;
	display: inline-block;
	
	
}
.likeLink :hover {
	color: darkgreen;
	text-decoration: none;
}
/* Disable the link and change its color if it's liked */
.likeLink.liked   {
	color: darkgreen;
	
}
.likeLink.ngLiked {
	color: darkgreen !important;	
}


.loading {
	
	background: #fff url('/static/img/loading.gif') no-repeat;
	background-size: contain;
	background-position: left;	
	height: 120px;
	
}



/* ENd browse page */

/* Form specific styles for 
/*
label.checkbox {
	display: block;
	position: relative;
	float: left;
	width: auto;
	padding: 10px 15px;
	margin: 5px 2px 5px 0px !important;
	border: 1px solid silver;
	background-color: #e7e7e7;
	border-radius: 4px;
}
*/
div.checkbox {
	display: block;
	margin: 2px 0px 0px 0px !important;
}

.checkbox input[type="checkbox"]{
    float: right !important;
    opacity: 0;
}

.checkbox label {
	display: block;
	padding: 10px 10px;
	border: 1px solid silver;
	background-color: #e7e7e7;
	border-radius: 4px;
	margin-top: 0px;
	color: #428bca;
	text-align: left;
}
label[for*="tags-"] {
	display: block;
}

input[type="checkbox"]:checked+label {
	background-color: #428bca;
	color: #fff;
	display: block;
}
