{% import 'scaffolding/macros.html' as s with context %}
{% import 'macros/form.html' as f with context %}
{% extends s.layout() %}

{% block layout_head %}
<!--  add the angular and aspector js files -->
<script type="text/javascript" src="/static/js/angular.min.js"></script>
<script type="text/javascript" src="/static/js/aspector.js"></script>
<!--  angular bootstrap UI for typeahead -->
<script type="text/javascript" src="/static/js/ui-bootstrap-tpls-0.10.0.min.js"></script>
	

    <script type="text/javascript">
    // disable enter on the ngfilter box
    	$(document).ready( function () {
    		
			$('.ngfilter').keypress(function(e) {
				if (e.keyCode == '13') {
					e.preventDefault();
				};
			});
			
    	});
    	
    </script>

{% endblock %}

{% block layout_content %}
<!--  Custom implementation for aspector -->
{% block form_tag %}
<form method="POST" action="{{scaffolding.form_action|default(this.uri(_pass_all=True), True)}}" class="form" enctype="{{scaffolding.form_encoding|default('application/x-www-form-urlencoded', True)}}" role="form">
{% endblock %}

	{% block layout_header %}
	{% endblock %}
    
    {% block layout_instructions %}
    {% endblock %}
    
    <hr>

    {% block form_fields %}
    
    <!--  wrapper for the angular controller -->
   	<div ng-controller="AspectTagController">
   	
        {% for field in form %}
            {% if not field.name in scaffolding.excluded_form_fields %}
                {{ f.form_field(form, field) }}
            {% endif %}

        {% endfor %}
	</div>
    {% endblock %}

	<!--  use this block later for populating error messages -->
	{% block error_msg %}
	{% endblock %}

    {% block form_actions %}

    <div class="row">
	    <div class="controls form-actions col-lg-12 col-xs-12">
	        {% block cancel_button %}
	            {% if uri_exists(action='list') %}
	            <a class="btn btn-default" href="{{uri(action='list')}}">
	                {% block cancel_text %}Cancel{% endblock %}
	            </a>
	            {% endif %}
	        {% endblock %}
	        {% block submit_button %}
	            <button class="btn btn-primary" type="submit">
	                {% block submit_text %}Submit{% endblock %}
	            </button>
	        {% endblock %}
	    </div>
    </div>
    {% endblock %}
</form>
{% endblock %}
