<div class="row">

	<!-- The help hide button -->
	<div class="col-xs-12 visible-xs">
	<!-- So we have this nifty button that is visible on a small screen -->
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#help_collapse">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Help</a> 	
		</div>
    </nav>
    </div>
	

<!-- The helptext has hidden-xs and is default hidden when you shrink the page below a certain size -->
	<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
		<div class="navbar-collapse collapse" id="help_collapse">
			<ul class="list-group">
				<li class="list-group-item">Use AND or OR to group your search terms. AND operators take precedence in Tag searches.</li>
				<li class="list-group-item">Use complete words</li>
				<li class="list-group-item">Use ~word to search for variants on a root, e.g. ~magic to find magical and magician</li>
				<li class="list-group-item">Do not use wildcards</li>
			</ul>
		</div>
	</div>


	<div class="col-lg-6 col-md-4 col-sm-5 col-xs-12">
		<h4 class="text-center">Find an Aspect</h4>

		<p>	<!--  paragraph tag there to preserve padding on xs viewer -->
		<form method="POST" action="/aspects/search" class="form" enctype="application/x-www-form-urlencoded" role="form">
		
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default type="button"><b class="glyphicon glyphicon-search"></b>
					</button> 
				</span>
				<input autofocus="true" type="text" class="form-control" name="search-terms" value="{{search_terms}}">
			</div>
		
		</form>
		</p>
	
	</div>

	<div class="col-lg-3 col-md-4 col-sm-3 hidden-xs">
		<h4>Aspect Inspector</h4>
		<h4>Great big ideas, itty bitty talent</h4>
		<h4>We aspect the Spanish Inquisition</h4>
		<h4>Tags, they're it</h4>
	</div>
	
</div>