{% import 'scaffolding/macros.html' as s with context %}
{% import 'macros/form.html' as f with context %}
{% extends s.layout() %}



{% block layout_content %}
{% block layout_header %}<h4>File a report</h4>{% endblock %}

<!--  Custom implementation for aspector -->
{% block form_tag %}
<form method="POST" action="{{scaffolding.form_action|default(this.uri(_pass_all=True), True)}}" class="form" enctype="{{scaffolding.form_encoding|default('application/x-www-form-urlencoded', True)}}" role="form">
{% endblock %}


{% block layout_instructions %}
<ul class="list-group">
	<li class="list-group-item">Reports cannot be longer than 500 characters.</li>
	<li class="list-group-item">Please don't file frivilous reports.</li>
</ul>

{% endblock %}

<hr>
    {% block form_fields %}
		<!--  set the reported key value appropriately to the reported hidden input -->
		{{ f.form_field(form, form.description) }}
		{{ form.reported(value=reported_key.urlsafe() ) }}


    {% endblock %}


	{% block error_msg %}
	<div class="panel">Regarding the item <b>{{ reported_name }}</b></div>
	{% endblock %}

    {% block form_actions %}
       <div class="row">
	    <div class="controls form-actions col-lg-12 col-xs-12">
	        {% block cancel_button %}
	            {% if uri_exists(action='list') %}
	            <a class="btn btn-default" href="{{uri(action='list')}}">
	                {% block cancel_text %}Cancel{% endblock %}
	            </a>
	            {% endif %}
	        {% endblock %}
	        {% block submit_button %}
	            <button class="btn btn-primary" type="submit">
	                {% block submit_text %}Submit{% endblock %}
	            </button>
	        {% endblock %}
	    </div>
    </div>
    {% endblock %}


{% endblock %}