{% extends "elements/form.html" %}

{% block layout_header %}<h4>Submit a Tag</h4>{% endblock %}

{% block layout_instructions %}
<ul class="list-group">
	{% if previous %}<li class="list-group-item"><span class="text-danger">Created {{previous.name}}</span></li>{%endif%}
	<li class="list-group-item">Tags must be one word.</li>
	<li class="list-group-item">Tags may not be duplicated.</li>
</ul>
{% endblock %}

{% block submit_text %}Create{% endblock %}
