{% extends "layouts/default.html" %}
{% import "scaffolding/macros.html" as scaffold with context %}


{% block layout_head %}
	<!--  adding additional css -->
	
	<!--  adding additional javascript modules for the browse page -->
	
	<script type="text/javascript" src="/static/js/angular.min.js"></script>
	<!--  angular bootstrap UI for typeahead -->
	<script type="text/javascript" src="/static/js/ui-bootstrap-tpls-0.10.0.min.js"></script>
		
	<!--  include our custom javascript -->
	<script type="text/javascript" src="/static/js/aspector.js"></script>

	

	<!--  page specific javascript -->
	<script type="text/javascript">
	
	
	
	// does a lot of page specific setup stuff for the aspect viewer

	$(document).ready(function() {
		//sets the active aspect li to active so we know which one is active :)
		/* no longer used
			$('.aspect_link').click(function() {

				$('.aspect_link').parent().removeClass('active');
				$(this).parent().addClass('active');
		
			});
		*/
		// turn on the listnav plugin for our list
		/* disabled listnav for now
			$('#tagList').listnav({
				includeNums: false,
			});
		*/
		// when we click a new button on the browse bar, get rid of our data.
		/* also no longer used since we're ditching listnav
			$.each($('.ln-letters').children(), function(i, child) {
				
				
				$(child).click(function() {
					// reset the form when someone clicks one of the letters
					$('#resetbutton').click(); // pretty ghetto but we click the hidden reset button to reset the form 
					//$('.aspect_link').parent().removeClass('active'); 
				});
			});
		*/
		// if the querystring contains a tag, click it first
		 	// store the url parameters in an array of javascript variables
	   	   var url_params = {};
		   $.each(document.location.search.substr(1).split('&'),function(c,q){
			   
			   var i = q.split('=');
			   if ( i[0].length > 0 ) {
				   url_params[i[0].toString()] = i[1].toString();
			   }
		   });
		   //  now click the link
		   $('#' + url_params.tag).click()  
			
	});
	</script>


{% endblock %}

{% block layout_content %}


<!--  ng-init passes the user who is logged in -->
<div ng-controller="TagBrowseCtrl">
<!-- set the user from our ferris context --> 
<% user.setUser('{% if user %}{{this.user.nickname() }}{%endif%}') >



	<div class="row">
	<div class="col-md-6 col-xs-9">
		
		<ul role="instructions" class="list-group">
			<li class="list-group-item">Click a tag to add it to the filter. Unclick to remove.</li>
			<li class="list-group-item">Displays only aspects that match all selected tags.</li>
			<li class="list-group-item"><button id="resetbutton" class="btn btn-default" style="" ng-click="reset()">Reset</button></li>
		</ul>
	
	</div>
		<div class="col-md-6 col-xs-3"  ng-class="{'loading': loading()}">
		 &nbsp;
		</div>
	</div>
	
	<!--  here we print each tag with a link to /aspect/tag/<urlsafekey> -->
	<div class="row">
	

    {% for tag in tags %}
    		
    			<div class="checkbox col-lg-2 col-md-3 col-sm-4 col-xs-12">	
    					<!--  note how we have to replace the - in the urlsafe key with _ to get this obj to work -->
    					<input type="checkbox" ng-model="tags_active['{{tag.key}}']"  class="btn btn-default text-left" id="{{tag.name}}"  href="javascript:void(0)">

    					<label for="{{tag.name}}" class="checkbox">&nbsp;{{tag.name}}<span class="badge pull-left">{{tag.ref}}</span>
						 <a href="/reports/:{{tag.key}}/report" class="reportLink  pull-right">
									<b class="glyphicon glyphicon-exclamation-sign" title="Report"></b>
						</a>
    					</label>
    					    	
    			</div>
    {% endfor %}
    	
	</div>
    
	<!--  This is where our json data goes when it comes back from the /aspects/tag query
		  Wrapped in paragraph tag for padding. yay. 
	-->
	<p>
		<div id="progressbar"></div>
	</p>
		
	<!--  temp testing for angular -->
	
	
	<!--  put the loading thing here if it's loading -->
	<div id="datadiv" >
		<div class="row"><div class="col-xs-12" ><% message ></div></div>
		<div class="row" ng-repeat="cols in rows">
			<div class="col-md-4 col-xs-12" ng-repeat="aspect in cols">
				<div class="panel panel-default aspect-panel">
					<div class="panel-heading aspect-panel-heading">
							<div class="aspect-pane" ng-class="{'link-disabled': (!user.logged_in)&&aspect_active(aspect.key)}">
							
								<a href="" ng-click="getTags(aspect.tags, aspect.key)" ><% aspect.name><!--  this link will expand the tags -->
								<!--  A lot going on in ng-class here - change the icon from folder to edit if it's been clicked (aspect_active) and hide it if the user isn't logged in -->
									<b class="glyphicon pull-right" ng-class="{'glyphicon-folder-open': !aspect_active(aspect.key), 'glyphicon-edit': aspect_active(aspect.key), 'hide': (!user.logged_in && aspect_active(aspect.key))}"></b>
								</a>
							</div>
							<!--  check for users before displaying buttons -->
							{% if user %}
							<div class="button-pane" role="subnav">
								<a href="" title="Like <% aspect.name>" ng-click="like(aspect.key,'{{this.user.nickname()}}')" class="likeLink" ng-class="{'ngLiked': is_liked(aspect.key, aspect.liked)}">
									<b class="glyphicon glyphicon-check"></b>
								</a>
								<a ng-href="/reports/:<% aspect.key >/report" class="reportLink">
									<b class="glyphicon glyphicon-exclamation-sign" title="Report"></b>
								</a>
							</div>
							{% endif %}
					</div>
					<div class="panel-body" ng-if="aspect_active(aspect.key)">
						<div class="row">
							<div id="aspect.key" class="col-md-6 col-sm-6 col-xs-12" ng-repeat="tag in aspects_arr[aspect.key]">
								<a class="<%tag.name>link" href="/tags/browse?tag=<% tag.name>"><% tag.name ></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
	


{% endblock %}