{% extends "layouts/default.html" %}
{% import "scaffolding/macros.html" as scaffold with context %}


{% block layout_head %}
	<!--  adding additional css -->
	
	<!--  adding additional javascript modules for the browse page -->
	<script type="text/javascript" src="/static/js/jquery.listnav.min-2.1.js"></script>
	
	<!--  include our custom javascript -->
	<script type="text/javascript" src="/static/js/aspector.js"></script>

	<!--  page specific javascript -->
	<script type="text/javascript">
	
	// does a lot of page specific setup stuff for the aspect viewer

	$(document).ready(function() {
		//sets the active aspect li to active so we know which one is active :)
			$('.aspect_link').click(function() {

				$('.aspect_link').parent().removeClass('active');
				$(this).parent().addClass('active');
		
			});
		// turn on the listnav plugin for our list
			$('#tagList').listnav({
				includeNums: false,
			});
		// when we click a new button on the browse bar, get rid of our data.
			$.each($('.ln-letters').children(), function(i, child) {
				
				$(child).click(function() {
					$(aspect_render_div).empty();
					// also untoggle the button we clicked before
					$('.aspect_link').parent().removeClass('active'); 
				});
			});
		// if the querystring contains a tag, click it first
		 	// store the url parameters in an array of javascript variables
	   	   var url_params = {};
		   $.each(document.location.search.substr(1).split('&'),function(c,q){
		   var i = q.split('=');
		   	  url_params[i[0].toString()] = i[1].toString();
		   });
		   //  now click the link
		   $('#' + url_params.tag).click()  
			
	});
	</script>


{% endblock %}

{% block layout_content %}
<!--  testing temp  -->

	<div id="tagList-nav" class="listNav"></div>
	
	<!--  here we print each tag with a link to /aspect/tag/<urlsafekey> -->
		<ul id="tagList" class="nav nav-pills aspectorList row">&nbsp;
    {% for tag in tags %}<li class="col-lg-2 col-md-3 col-sm-4 col-xs-12"><a class="aspect_link" id="{{tag.name}}"onclick="renderAspects('{{tag.key.urlsafe()}}');" href="javascript:void(0)">
    					{{tag.name}}</a></li>
    {% endfor %}
        </ul>
    
	<!--  This is where our json data goes when it comes back from the /aspects/tag query
		  Wrapped in paragraph tag for padding. yay. 
	-->
	<p>
		<div id="progressbar"></div>
	</p>
	<p>	
		<!--  <div><ul id="datalist" class="listNoPad"></ul></div> -->
		<div id="datadiv"></div>
	</p>

	
		
	


{% endblock %}