{% import "scaffolding/macros.html" as scaffold with context %}
{% extends scaffold.layout() %}

{% block layout_content %}



    {% for tag in tags %}

            <h4>{{tag.name}}</h4>
            <h6>By {{tag.created_by}} on {{scaffold.print(tag.created)}}</h6>
            
    {% endfor %}

{% endblock %}